.home_div {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 87%;
    top: 80%;
}

.home_div > img {
    width: 50px;
    height: 50px;
}

@media (max-width: 1000px) {
    .home_div {
        top: 90%;
    }
    .home_div > img {
        width: 40px;
        height: 40px;
    }
  }