.nav_element {
  transition: font-size .5s ease;
  text-decoration: none;
  color: white;
  font-family: "Evolventa", sans-serif;
  font-size: 64px;
}

.nav_element:hover {
  font-size: 5rem;
}

.nav_div {
  height: 6rem;
}

@media (max-width: 1000px) {
  .nav_element {
    font-size: 54px;
  }
}