.main {
  display: flex;
  gap: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.text {
  font-size: 30px;
}
.header {
  color: white;
  width: 80%;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.line {
  width: 0px;
  border: 5px solid black;
  border-radius: 5px;
}
.footer {
  color: white;
  width: 80%;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: right;
  margin-bottom: 10%;
}
.footer::before {
    content: "-";
}
@media (max-width: 1000px) {
  .text {
    font-size: 20px;
  }
  .header {
    font-size: 38px;
    width: 90%;
  }
  .header {
    font-size: 20px;
    width: 90%;
  }
}
